<%- include("../../shared/includes/head", {pageTitle: "New product"})  %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
  <%- include("../../shared/includes/header") %>

  <main>
    <h1>Add new product</h1>


    <%- include("includes/product-form", {submitPath: "/admin/products", imageRequired: true ,product: {
      title: "",
      summary: "",
      description: "",
      price: 0,
    }}) %>
    
  </main>
  
  <%- include("../../shared/includes/footer") %>
