<%- include("../includes/head", {pageTitle: "Signup"})  %>
</head>
<body>
  <%- include("../includes/header") %>
  <main>
    <h1>Create new account</h1>
    <form action="" method="">
      <input type="text">
    </form>

  </main>
  
  <%- include("../includes/footer") %>
